{% extends 'base.html.twig' %}

{% block titulo %}Entrar - {{ parent() }}{% endblock %}

{% block sidebar %}
    {{ render(path('menu', {seccionActual : "login"})) }} 
{% endblock %}

{% block body %}
   {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {# {% if app.user %}
        <div class="mb-3">
           &nbsp; Estás registrado como: {{ app.user.username }}, <a href="{{ path('app_logout') }}">Cerrar sesión</a>
        </div>
    {% endif %} #}
    
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
     <div class="col-10 col-md-8 col-lg-6">
        <form class="border border-light p-5" method="post">

    <h2 class="text-center mb-4">INICIAR SESIÓN</h2>

 <div class="form-group"> 
 <label for="inputEmail">Email*</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Introduzca su correo" required autofocus>
  </div>
   <div class="form-group">
 <label for="inputPassword">Contraseña*</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Introduzca su contraseña" required>
  </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <div class="d-flex justify-content-around">
        <div>
            <!-- Remember me -->
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                <label class="custom-control-label" for="defaultLoginFormRemember">Recuérdame</label>
            </div>
        </div>
        <div>
            <!-- Forgot password -->
  <a href="https://support.google.com/accounts/answer/7682439?hl=es">
  <span style="color:blue">¿Has olvidado tu contraseña?</span></a>  
   </div>
    </div>

    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" type="submit">Entrar</button>
</div>
</form>
      </div>
    </div>
</div>
</br></br></br></br>
{% endblock %}
