{% extends 'base.html.twig' %}

{% block titulo %}Registro - {{ parent() }}{% endblock %}

{% block sidebar %}
    {{ include('menu.html.twig', { 'seccionActual': "/register" }) }}
{% endblock %}

{% block body %}
    <h2>Regístrate hoy mismo</h2>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button class = "btn btn-primary">Registrarse</button>
    {{ form_end(registrationForm) }}
{% endblock %}
