{% extends "base.html.twig" %}
{% block titulo %}Carrito - {{ parent() }}{% endblock %}

{% block sidebar %}
    {{ render(path('menu', {seccionActual : "carrito"})) }} 
{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Carrito</li>
  </ol>
</nav>
<div class = "container">
  <h1> Mi carrito de compras </h1>

   <table class="table">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Sub total</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
       {% for content in app.user.cart.content %}
        <tr>
            <td><img src="{{ asset('uploads/brochures/' ~ content.producto.brochureFilename) }}" with="50px" height="50px"></td>
            <td>{{content.producto.nombre}}</td>
            <td>{{content.producto.precio}} €</td>
            <td>{{content.quantity}}</td>
            <td>{{content.producto.precio * content.quantity}} €</td>
            <td>
                <a href="{{ path('carrito_borrar', {'idCartContent' : content.id}) }}" class="btn btn-danger" onclick="return confirm('Confirma eliminar?')"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        {% else %}
        <tr><td colspan="5"><p>Tu carrito esta vacío.....</p></td>
       {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td><a href="/productos" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continuar Comprando</a></td>
            <td colspan="2"></td>
            <td class="text-center"><strong>Total {{app.user.cart.getTotal()}} €</strong></td>
            <td><a href="/pedido" class="btn btn-success btn-block">Confirmar pedido <i class="fa fa-angle-right"></i></a></td>
        </tr>
    </tfoot>
    </table>
</div>
</br></br>
</br></br>
{% endblock %}
