 <ul class="navbar-nav mr-auto">
    
                <li {% if seccionActual == "/" %} class="nav-item active"{% endif %}>
                    <a class="nav-link" href="{{ path('indice') }}">Inicio</a>
                </li>
                 <li {% if seccionActual == "/productos" %} class="nav-item active"{% endif %}>
                    <a class="nav-link" href="{{ path('productos') }}">Productos</a>
                </li>
                <li {% if seccionActual == "/servicios" %} class="nav-item active"{% endif %}>
                    <a class="nav-link" href="{{ path('servicios') }}">Servicios</a>
                </li>
                <li {% if seccionActual == "/contacto" %} class="nav-item active"{% endif %}>
                    <a class="nav-link" href="{{ path('contacto') }}">Contacto</a>
                </li>
                <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">
                 <i class="fas fa-user"></i>
                 </a>
                <div class="dropdown-menu">
                {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
                  <a class="dropdown-item" href="/login">Inicia Sesión</a>
                  <a class="dropdown-item" href="/register">Regístrate</a>
                {% elseif is_granted('IS_AUTHENTICATED_FULLY') %}
                 <a class="dropdown-item">Estás como: <span style="color:darkblue">{{ app.user.username|replace({'@gmail.com': ""}) }}</span></a> 
                  <a class="dropdown-item" href="{{ path('app_logout') }}">Cerrar Sesión</a>
                {% endif %}


                </div>
                </li>
</ul>