{% extends "base.html.twig" %}
{% block titulo %}Productos - {{ parent() }}{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Productos</li>
  </ol>
</nav>
<div class = "container">
 <h1>Nuestro catálogo</h1>
    <ul>
        {% for productos in productos %}
            <li><a href="{{ path('productos', {'id': productos.id}) }}">
                {{ productos.nombre }}
            </a>
            <p>{{ productos.color }}</p>
            <p>{{ productos.memoria }}</p>
            <p>{{ productos.descripcion }}</p>
            <p>{{ productos.precio }}</p>
            </li>
        {% else %}
            <li>No hay productos</li>
        {% endfor %}
    </ul>
    <p><a href="{{ path('producto_nuevo') }}">Añadir producto</a></p>
</div>
</br></br>
</br></br>
{% endblock %}
