{% extends "base.html.twig" %}
{% block titulo %}Productos - {{ parent() }}{% endblock %}

{% block sidebar %}
    {{ include('menu.html.twig', { 'seccionActual': "/productos" }) }}
{% endblock %}

{% block body %}
<div class = "container">
	<div class="row">
		<aside class="col-sm-5 border-right">
<article class="gallery-wrap"> 
<div class="img-big-wrap">
  <div><img src="{{ asset('uploads/brochures/' ~ producto.brochureFilename) }}"></img></div>
</div> 
</article> 
		</aside>
		<aside class="col-sm-7">
<article class="card-body p-5">
	<h3 class="title mb-3">{{producto.nombre}}</h3>

<p class="price-detail-wrap"> 
	<span class="price h3 text-warning"> 
		<span class="currency">{{producto.precio}} €</span>
	</span> 
</p>
<dl class="item-property">
  <dt>Descripción</dt>
  <dd><p>{{producto.descripcion}}</p></dd>
</dl>
<dl class="param param-feature">
  <dt>Color</dt>
  <dd>{{producto.color}}</dd>
</dl> 
<dl class="param param-feature">
  <dt>Memoria</dt>
  <dd>{{producto.memoria}}</dd>
</dl> 

<hr>
	<div class="row">
		<div class="col-sm-5">
			<dl class="param param-inline">
			  <dt>Cantidad: </dt>
			  <dd>
			  	<select class="form-control form-control-sm" style="width:70px;"> 
			  		<option data-url="###" id="option1" value="1" selected> 1 </option>
			  		<option data-url="###" id="option2" value="2"> 2 </option>
			  		<option data-url="###" id="option3" value="3"> 3 </option>
			  	</select>
			  </dd>
			</dl> 
		</div>

	</div> 
	<hr>
	<a href="#" class="btn btn-lg btn-primary text-uppercase"> Comprar ahora </a>
	<a href="{{ path('carrito_añadir', {'idProduct' : producto.id, 'quantity' : 1}) }}" data-url="{{ path('carrito_añadir', {'idProduct' : producto.id, 'quantity' : "###"}) }}" class="btn btn-lg btn-outline-primary text-uppercase"> <i class="fas fa-shopping-cart"></i> Añadir al carrito </a>
</article> 
		</aside> 
	</div> 


    <br><br>
        {% if is_granted('ROLE_ADMIN') %}
    <p><a href="{{ path('producto_editar', {'id' : producto.id}) }}" class="btn btn-outline-success my-2 my-sm-0">Editar Producto</a></p>
    <p><a href="{{ path('producto_borrar', {'id' : producto.id}) }}" class="btn btn-outline-success my-2 my-sm-0">Borrar Producto</a></p>
        {% endif %}
</div>
{% endblock %}


